@import 'mixings' ;
.hide{
  display: none;
}
.header{
  background:#F2AC29; 
  width: 48em;
    label{
      display: inline-block;
      font-size: 2em;
      color: #fff;
      width: 50px;
      height: 50px;
      padding: 10px;
      border-right: 1px solid #fff;
    }
    .nav{
      background-color: #F2AC29; 
      width: 100%;
      position: absolute;
      margin-left: -100%;
      ul{
        margin: 0;
        list-style: none;
        padding: 0;
        li {
          flex-grow: 1;
          .link {
            display: block;
            padding: 15px 20px;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }

.header label :hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.column{
  @include flex-col-row(column)
 }

.nav li:hover {
  background: rgba(0, 0, 0, 0.2);
}

#btn-menu:checked~.nav {
  margin: 0;
}
// .img {
//   width: 20%;
// }

// @media (min-width:1024px) {
//   .img {
//     width: 3%;
//   }
//   .cerrar {
//     font-size: 25px;
//   }
//   .bienvenida {
//     font-size: 45px;
//   }
// }
// @media screen and (min-width:900px) {
 
// }
