// componente login --> style
@import 'mixings' ;
.login {
  @include flex-cen;
  background-image: url(img/main-screen.jpg);
  background-size: cover;
  height: 100vh;
  padding: 1rem;
  font-size: 1.2em;
}
.form-login{
  width: 90%;
  @include flex-cen;
}
.message-logo{
  color:#F2AC29;
  font-weight: bold;
  font-size: 23px;
  padding: 0.5em;
  margin: 0;
}
.input-form{
  font-size: inherit;
  padding: 5px;
  height: 2.5em;
  width: 90%;
  border-radius: 9px;
  outline-style: none;
  border: none;
  margin: 0.8em;
}
.pink:focus {
  box-shadow: 0 0 5px rgba(242, 172, 41, 1);
  border: 1px solid rgba(242, 160, 42, 0.8);
}
.btn-login{
  @include btn(#0D0D0D, 90%, 3em, white);
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  font-size: 0.9em;
  margin: 0.8em;
}
.btn-login:hover{
 opacity: 0.6;
}
.column{
 @include flex-col-row(column)
}
.error-message{
  color:#AD3025;
  font-weight: bold;
  font-size: 25px;
}
