.header {
  background:#F2AC29; 
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
}
.btn-menu{
  display: none;
}
.label {
  display: block;
  padding: 2%;
  border-right: 1px solid #fff;
  width: 10%;
  height: 20%;
  left: 0;
}
.label i:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  width: 80%;
}
.btn-menu:checked ~ .menu {
  transform: translateX(0%);
}
.menu{
  background-color: #F2AC29; 
  width: 100%;
  transition: all 0.5s;
  transform: translateX(-100%);
  position: fixed;
}
.menu ul {
  display: flex;
  flex-direction: column;
  background: rgba(254, 215, 95, 0.9);
  padding-left: 0px;
  height: auto;
}
.menu li {
  text-align: center;
  border-top: 1px solid #fff;
}
.menu li:hover{
background: rgba(191, 124, 65, 0.678);
}
.link{
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  font-size: 70%;
}
.img {
  width: 20%;
}

@media (min-width:1024px) {
  .img {
    width: 3%;
  }
  .cerrar {
    font-size: 25px;
  }
  .bienvenida {
    font-size: 45px;
  }
}
@media (min-width: 650px) and (max-width: 1023px) {
  .img {
    width: 25%;
  }
  .cerrar {
    font-size: 12px;
  }
  .bienvenida {
    font-size: 21px;
  }
}