@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap");
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/main-screen.jpg);
  background-size: cover;
  height: 100vh;
  padding: 1rem;
  font-size: 1.2em; }

form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center; }

p {
  color: #F2AC29; }

input {
  padding: 5px;
  height: 2.5em;
  width: 90%;
  border-radius: 9px;
  outline-style: none;
  border: none;
  margin: 0.8em; }

.pink:focus {
  box-shadow: 0 0 5px #f2ac29;
  border: 1px solid rgba(242, 160, 42, 0.8); }

.btn-login {
  background-color: #0D0D0D;
  border-radius: 15px;
  width: 90%;
  height: 3em;
  color: white;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  font-size: 0.9em;
  margin: 0.8em; }

.btn-login:hover {
  opacity: 0.6; }

.column {
  display: flex;
  flex-direction: column; }

.error-message {
  color: #F2AC29; }

@media screen and (min-width: 900px) {
  .login {
    background-image: url(img/burger-width.jpg); }
  form {
    width: 50%; } }

.BurgerQueen-1-hex {
  color: #F2AC29; }

.BurgerQueen-2-hex {
  color: #F29A2E; }

.BurgerQueen-3-hex {
  color: #BF7C41; }

.BurgerQueen-4-hex {
  color: #F2F2F2; }

.BurgerQueen-5-hex {
  color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.BurgerQueen-1-rgba {
  color: #f2ac29; }

.BurgerQueen-2-rgba {
  color: #f29a2e; }

.BurgerQueen-3-rgba {
  color: #bf7c41; }

.BurgerQueen-4-rgba {
  color: #f2f2f2; }

.BurgerQueen-5-rgba {
  color: #0d0d0d; }

/* Color Theme Swatches in HSLA */
.BurgerQueen-1-hsla {
  color: #f1ab27; }

.BurgerQueen-2-hsla {
  color: #f2992c; }

.BurgerQueen-3-hsla {
  color: #be7b41; }

.BurgerQueen-4-hsla {
  color: #f0f0f0; }

.BurgerQueen-5-hsla {
  color: #0d0d0d; }

.hide {
  display: none; }

.header {
  background: #F2AC29; }

.header label {
  display: inline-block;
  font-size: xx-large;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-right: 1px solid #fff; }

.header label :hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); }

.nav {
  background-color: #F2AC29;
  width: 100%;
  position: absolute;
  margin-left: -100%; }

.column {
  display: flex;
  flex-direction: column; }

.nav ul {
  margin: 0;
  list-style: none;
  padding: 0; }

.nav li {
  flex-grow: 1; }

.nav li:hover {
  background: rgba(0, 0, 0, 0.2); }

.link {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none; }

#btn-menu:checked ~ .nav {
  margin: 0; }

@media screen and (min-width: 900px) {
  .header label {
    display: none; }
  .nav {
    margin: 0;
    width: 100%;
    position: inherit; }
  .nav ul {
    display: flex;
    flex-direction: row; }
  .link {
    text-align: center;
    padding: 2%; }
  .img {
    width: 25%; }
  .cerrar {
    font-size: 12px; }
  .bienvenida {
    font-size: 21px; } }

body {
  margin: 0;
  font-family: 'Quattrocento Sans', sans-serif; }
