@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap");
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/main-screen.jpg);
  background-size: cover;
  height: 100vh;
  padding: 1rem;
  font-size: 1.2em; }

.form-login {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center; }

.message-logo {
  color: #F2AC29;
  font-weight: bold;
  font-size: 23px;
  padding: 0.5em;
  margin: 0; }

.input-form {
  font-size: inherit;
  padding: 5px;
  height: 2.5em;
  width: 90%;
  border-radius: 9px;
  outline-style: none;
  border: none;
  margin: 0.8em; }

.pink:focus {
  box-shadow: 0 0 5px #f2ac29;
  border: 1px solid rgba(242, 160, 42, 0.8); }

.btn-login {
  background-color: #0D0D0D;
  width: 90%;
  height: 3em;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  font-size: 0.9em;
  margin: 0.8em; }

.btn-login:hover {
  opacity: 0.6; }

.column {
  display: flex;
  flex-direction: column; }

.error-message {
  color: #AD3025;
  font-weight: bold;
  font-size: 25px; }

.BurgerQueen-1-hex {
  color: #F2AC29; }

.BurgerQueen-2-hex {
  color: #F29A2E; }

.BurgerQueen-3-hex {
  color: #BF7C41; }

.BurgerQueen-4-hex {
  color: #F2F2F2; }

.BurgerQueen-5-hex {
  color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.BurgerQueen-1-rgba {
  color: #f2ac29; }

.BurgerQueen-2-rgba {
  color: #f29a2e; }

.BurgerQueen-3-rgba {
  color: #bf7c41; }

.BurgerQueen-4-rgba {
  color: #f2f2f2; }

.BurgerQueen-5-rgba {
  color: #0d0d0d; }

/* Color Theme Swatches in HSLA */
.BurgerQueen-1-hsla {
  color: #f1ab27; }

.BurgerQueen-2-hsla {
  color: #f2992c; }

.BurgerQueen-3-hsla {
  color: #be7b41; }

.BurgerQueen-4-hsla {
  color: #f0f0f0; }

.BurgerQueen-5-hsla {
  color: #0d0d0d; }

.hide {
  display: none; }

.header {
  background: #F2AC29; }
  .header label {
    display: inline-block;
    font-size: 2em;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid #fff; }
  .header .crown {
    margin-left: 30%;
    margin-right: 30%; }
  .header .nav {
    background-color: #F2AC29;
    width: 100%;
    position: absolute;
    margin-left: -100%; }
    .header .nav ul {
      margin: 0;
      list-style: none;
      padding: 0; }
      .header .nav ul li {
        flex-grow: 1; }
        .header .nav ul li .link {
          display: block;
          padding: 15px 20px;
          color: #fff;
          text-decoration: none; }

.header label :hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); }

.column {
  display: flex;
  flex-direction: column; }

.nav li:hover {
  background: rgba(0, 0, 0, 0.2); }

#btn-menu:checked ~ .nav {
  margin: 0; }

.product-img {
  width: 100%;
  height: 60%; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 24%;
  margin-bottom: 3%;
  background-color: #EBEFF1; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 0px 0px 0px 2px;
  height: 40%; }

.text-center{
 text-align: center;
}

.price {
  padding: 1%; }

.products-container {
  background-color: #e0e3e42e;
  width: 94%;
  margin: 3em;
  padding: 1em; }

.btn-break-dinner {
  background-color: #F29A2E;
  width: 25%;
  height: 2.5em;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  font-size: 0.9em;
  margin: 0.8em; }

.btn-break-dinner:hover {
  opacity: 0.6; }

.subproducts-container {
  width: 90%;
  padding: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #ebeff13d; }

.take-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 2em;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #EBEFF1;
}
.take-name{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #EBEFF1;
  padding: 2em;
  margin: auto;
  width: 90%;
  align-items: center;
}
column{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.border-top {
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, .125)
}
.margin-2{
  margin-top: 2em;
}
main {
  background-image: url(img/burger-2.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center; }

.form-cliente {
  display: flex; 
  align-items: center;
  margin: 3em;
  padding: 1em;
  width: 95%;
  height: 3em;
  background-color: #EBEFF1; }

.name-cliente{
  border: 1px dotted #999;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 10px;
}
.margin-1{
  margin: 1em;
}
.font-size-1{
  font-size: 1em;
}
.font-size-15{
  font-size: 1.5em;
  margin: 2em;
}

.btn-cliente{
  background-color: #3594cc;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  padding: -10px; }
.btn-cliente:hover{
  background-color: #4aaae2;
  color: white;
}

body {
  margin: 0;
  font-family: 'Quattrocento Sans', sans-serif; }

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .form-login {
    background-color: rgba(13, 13, 13, 0.5); } }

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .form-login {
    width: 60%;
    background-color: rgba(13, 13, 13, 0.5); } 
  .card {
    font-size: 1em;
  }
  .subproducts-container{
    width: 93%;
  }
}

@media screen and (min-width: 1024px) {
  .form-login {
    width: 40%; }
  /* .header label {
    display: none; } */
    .subproducts-container{
      width: 93.4%;
    }
  .nav {
    margin: 0;
    width: 100%;
    position: inherit; }
  .nav ul {
    display: flex;
    flex-direction: row; }
  .link {
    text-align: center;
    padding: 2%; }
  .img {
    width: 25%; }
  .cerrar {
    font-size: 12px; }
  .bienvenida {
    font-size: 21px; } }